<!-- <div class="uk-child-width-1-2@m" uk-grid>
  <div>
      <div class="uk-card uk-card-default">
          <div class="uk-card-media-top">
              <img src="images/light.jpg" alt="">
          </div>
          <div class="uk-card-body">
              <h3 class="uk-card-title">Media Top</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
          </div>
      </div>
  </div>
  <div>
      <div class="uk-card uk-card-default">
          <div class="uk-card-body">
              <h3 class="uk-card-title">Media Bottom</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
          </div>
          <div class="uk-card-media-bottom">
              <img src="images/light.jpg" alt="">
          </div>
      </div>
  </div>
</div> -->


<!-- Card deck -->
<div class="card-deck">

    <!-- Card -->
    <div class="card mb-4">

        <!--Card image-->
        <div class="view overlay">
            <img class="card-img-top" src="assets/img/v1.png" alt="Card image cap">
            <a href="#!">
                <div class="mask rgba-white-slight"></div>
            </a>
        </div>

        <!--Card content-->
        <div class="card-body">

            <!--Title-->
            <h4 class="card-title">Card title</h4>
            <!--Text-->
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
            <button type="button" class="btn btn-light-blue btn-md">Read more</button>

        </div>

    </div>
    <!-- Card -->

    <!-- Card -->
    <div class="card mb-4">

        <!--Card image-->
        <div class="view overlay">
            <img class="card-img-top" src="assets/img/v2.jpg" alt="Card image cap">
            <a href="#!">
                <div class="mask rgba-white-slight"></div>
            </a>
        </div>

        <!--Card content-->
        <div class="card-body">

            <!--Title-->
            <h4 class="card-title">Card title</h4>
            <!--Text-->
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
            <button type="button" class="btn btn-light-blue btn-md">Read more</button>

        </div>

    </div>
    <!-- Card -->

    <!-- Card -->
    <div class="card mb-4">

        <!--Card image-->
        <div class="view overlay">
            <img class="card-img-top" src="assets/img/v3.jpg" alt="Card image cap">
            <a href="#!">
                <div class="mask rgba-white-slight"></div>
            </a>
        </div>

        <!--Card content-->
        <div class="card-body">

            <!--Title-->
            <h4 class="card-title">Card title</h4>
            <!--Text-->
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
            <button type="button" class="btn btn-light-blue btn-md">Read more</button>

        </div>

    </div>
    <!-- Card -->

</div>
<!-- Card deck -->