<!-- <div class="uk-child-width-1-2@m" uk-grid>
  <div>
      <div class="uk-card uk-card-default">
          <div class="uk-card-media-top">
              <img src="images/light.jpg" alt="">
          </div>
          <div class="uk-card-body">
              <h3 class="uk-card-title">Media Top</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
          </div>
      </div>
  </div>
  <div>
      <div class="uk-card uk-card-default">
          <div class="uk-card-body">
              <h3 class="uk-card-title">Media Bottom</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
          </div>
          <div class="uk-card-media-bottom">
              <img src="images/light.jpg" alt="">
          </div>
      </div>
  </div>
</div> -->

<div *ngFor="let item of itemArray" dir="rtl">

    <!-- <div class="card-deck" style="width : 250px">

    
    <div class="card mb-4" dir="rtl">

        
        <div class="view overlay" >
            <img class="card-img-top" src="{{item.image}}" alt="image" style="height: 150px; width : 250px;">
            <a href="#!">
                <div class="mask rgba-white-slight"></div>
            </a>
        </div>

        
        <div class="card-body">

            
            <h4 class="card-title" >{{item.titel}}</h4>
            <i class="fa fa-calendar" aria-hidden="true"></i>
            <p> {{item.req_date | date: 'dd-MM-yyyy' }} </p>
            <hr>
            
            <p class="card-text">{{item.add1}}</p>
            
            <button type="button" class="btn btn-light-blue btn-md">Read more</button>

        </div>

    </div>
  
</div> -->

    <!--Card-->
    <mdb-card style="width : 250px; height:350px">


        <div class="view overlay waves-light" mdbWavesEffect>
            <mdb-card-img src="{{item.image}}"></mdb-card-img>
            <a>
                <div class="mask rgba-white-slight"></div>
            </a>
        </div>


        <a class="btn-floating btn-action ml-auto mr-4 mdb-color lighten-3 waves-light" mdbWavesEffect>
            <i class="fa fa-chevron-left pl-1 waves-light" mdbWavesEffect></i>
        </a>


        <mdb-card-body>


            <mdb-card-title>
                <h4>{{item.titel}}</h4>
            </mdb-card-title>

            <hr>

            <p class="font-small grey-dark-text mb-0">{{item.add1}}</p>
        </mdb-card-body>

        <mdb-card-footer class="mdb-color info-color-dark text-center" >
            <ul class="list-unstyled list-inline font-small mt-3">
                <li class="list-inline-item pr-2 white-text">
                    <i class="fa fa-calendar" aria-hidden="true"></i>{{item.req_date | date: 'dd-MM-yyyy' }}</li>
                <li class="list-inline-item pr-2">
                    <a href="#" class="white-text">
                        <i class="fa fa-comments-o pr-1"></i>12</a>
                </li>
                
            </ul>
        </mdb-card-footer>

    </mdb-card>
<hr>
</div>