<!-- <footer class="uk-block uk-block-secondary uk-constrast">
  <div class="uk-container uk-container-center">
    <div class="uk-grid uk-margin-medium ">
      <div class="cdiv uk-grid-margin-medium  uk-width-1-3 ">
        <h4>how use the web applecation </h4>
      </div>
      <div class="cdiv uk-grid-margin-medium  uk-width-1-3 ">
        
        <a class="git-ic mr-3"><i class="fa fa-lg fa-github"> </i></a>
        <a class="fb-ic mr-3"><i class="fa fa-lg fa-facebook"> </i></a>
        <a class="email-ic mr-3"><i class="fa fa-lg fa-envelope-o"> </i></a>
       <a href="#">
          <i class="fab fa-github-square"> </i>
        </a> -->
<!-- <a href="#">
          <i class="fab fa-facebook"> </i>
        </a>
        <a href="#"> -->
<!-- <i class="fas fa-envelope-square"> </i>
        </a> -->
<!-- </div>
      <div class="cdiv uk-grid-margin-medium  uk-width-1-3 uk-text-right">
        <h4> &copy; code for iraq 2018</h4>
      </div>
    </div>
  </div>
</footer> -->


<!-- Footer -->
<!-- <footer class="center-on-small-only unique-color-dark pt-0">


  <div class="container">
   
    <div class="row">

      <div class="col-md-12 py-5">
        <div class="mb-5 flex-center">

          <a class="fb-ic">
            <i class="fa fa-facebook fa-lg  teal darken-4-text mr-md-3 mr-3 fa-2x"> </i>
          </a>

          <a class="github-ic">
            <i class="fa fa-github fa-lg  teal darken-4-text mr-md-3 mr-3 fa-2x"> </i>
          </a>

          <a class="env-ic">
            <i class="fa fa-envelope fa-lg  teal darken-4-text mr-md-3 ml-2 fa-2x"> </i>
          </a>
        </div>
      </div>
     

    </div>
   
  </div>


  <div class="footer-copyright default-text text-center  py-3">© 2018 Code for Iraq:
    <a href="https://CodeforIraq.com"class="default-text"  > CodeforIraq.com</a>
  </div>
 

</footer> -->
<!-- Footer -->

<footer id="footer" class="page-footer center-on-small-only unique-color-dark pt-0">

  <div class="info-color-dark text-center py-4">

    <a class="env-ic" href="#">
      <i class="fa fa-envelope  white-text mr-4"> </i>
    </a>
 
    <a id="footer-link-angular-github" href="#">
      <i class="fa fa-github white-text mr-4"> </i>
    </a>
   
    <a id="footer-link-angular-facebook" href="#">
      <i class="fa fa-facebook white-text mr-4"> </i>
    </a>
  </div>

 <div class=" info-color-dark text-center mr-4">
    &copy; 2018 Copyright:
    <a id="footer-link-angular-copyright" href="https://www.coderotiraq.org">
      <strong> coderotiraq.org</strong>
    </a>
  </div>
  </footer>


<!-- Social buttons -->
<!-- <ul class="list-unstyled list-inline text-center">
      <li class="list-inline-item">
        <a class="btn-floating btn-fb mx-1">
          <i class="fa fa-facebook"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-git mx-1">
          <i class="fa fa-lg fa-github"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-email mx-1">
          <i class="fa fa-lg fa-envelope-o"> </i>
        </a>
      </li>

    </ul> -->
<!-- Social buttons -->

<!-- Copyright -->
<!-- <div class="footer-copyright text-left py-3">© 2018 Code for Iraq:
    <a href="https://CodeforIraq.com"> CodeforIraq.com</a>
  </div> -->
<!-- Copyright -->