<!-- <footer class="uk-block uk-block-secondary uk-constrast">
  <div class="uk-container uk-container-center">
    <div class="uk-grid uk-margin-medium ">
      <div class="cdiv uk-grid-margin-medium  uk-width-1-3 ">
        <h4>how use the web applecation </h4>
      </div>
      <div class="cdiv uk-grid-margin-medium  uk-width-1-3 ">
        
        <a class="git-ic mr-3"><i class="fa fa-lg fa-github"> </i></a>
        <a class="fb-ic mr-3"><i class="fa fa-lg fa-facebook"> </i></a>
        <a class="email-ic mr-3"><i class="fa fa-lg fa-envelope-o"> </i></a>
        <!-- <a href="#">
          <i class="fab fa-github-square"> </i>
        </a> -->
<!-- <a href="#">
          <i class="fab fa-facebook"> </i>
        </a>
        <a href="#"> -->
<!-- <i class="fas fa-envelope-square"> </i>
        </a> -->
<!-- </div>
      <div class="cdiv uk-grid-margin-medium  uk-width-1-3 uk-text-right">
        <h4> &copy; code for iraq 2018</h4>
      </div>
    </div>
  </div>
</footer> -->


<footer class="page-footer font-small special-color-blue-gradient
pt-4">

  <!-- Footer Elements -->
  <div class="container">

    <!-- Social buttons -->
    <ul class="list-unstyled list-inline text-center">
      <li class="list-inline-item">
        <a class="btn-floating btn-fb mx-1">
          <i class="fa fa-facebook"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-git mx-1">
          <i class="fa fa-lg fa-github"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-email mx-1">
          <i class="fa fa-lg fa-envelope-o"> </i>
        </a>
      </li>

    </ul>
    <!-- Social buttons -->

  </div>
  <!-- Footer Elements -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2018 Code for Iraq:
    <a href="#"> codeforiraq.org</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->