<nav class="uk-navbar-container navbar" uk-navbar>

    
  <div class="uk-navbar-right">
    <ul class="uk-navbar-nav uk-align-right">
      <li class="uk-active uk-align-right"><a href="/home">الرئيسية</a></li>
      <li class="uk-align-right"><a href="/addrequest">اضافة طلب</a></li>
      <li class="uk-align-right"><a href="/viewrequests"> عرض الطلبات</a></li>
      <li class="uk-align-right"><a href="/Volunteers">المتطوعين</a></li>
      <li class="uk-align-right"><a href="/Success">القصص الناجحة</a></li>
      <li class="uk-align-right"><a href="/about">حول التطبيق</a></li>
    </ul>
  </div>

  <div class="uk-navbar-left">
    <ul class="uk-navbar-nav">
      <li class="uk-align-left"><a href="#"> تسجيل دخول</a></li>
    </ul>
  </div>
</nav>
