<nav class="uk-navbar-container" uk-navbar>
  <div class="uk-navbar-left">
    <ul class="uk-navbar-nav">
      <li class="uk-align-left"><a href="#"> تسجيل دخول</a></li>
    </ul>
  </div>

  <div class="uk-navbar-right">
    <ul class="uk-navbar-nav uk-align-right">
      <li class="uk-active uk-align-right"><a href="#">الرئيسية</a></li>
      <li class="uk-align-right"><a href="#"> عرض الطلبات</a></li>
      <li class="uk-align-right"><a href="#">المتطوعين</a></li>
      <li class="uk-align-right"><a href="#">القصص الناجحة</a></li>
      <li class="uk-align-right"><a href="#">حول التطبيق</a></li>
    </ul>
  </div>





</nav>
