<!-- <div class="card">
  <h5 class="card-header info-color white-text text-center py-4">
    <strong>تسجيل دخول</strong>
  </h5>
  <div class="card-body px-lg-5 pt-0" dir="rtl">
    <form class="text-center" style="color: #757575;" dir="rtl">
      <div class="md-form mt-0">
        <input type="username" id="materialRegisterFormEmail" class="form-control">
        <label style="right: 0" for="materialRegisterFormEmail">اسم المستخدم</label>
      </div>
      <div class="md-form">
        <input type="password" id="materialRegisterFormPassword" class="form-control" aria-describedby="materialRegisterFormPasswordHelpBlock">
        <label style="right: 0" for="materialRegisterFormPassword">كلمة السر</label>
      </div>
      <button class="btn btn-outline-info btn-rounded btn-block my-4 waves-effect z-depth-0" type="submit">تسجيل دخول</button>
      <p>او سجل عن طريق:</p>
      <a type="button" class="btn-floating btn-fb btn-sm">
        <i class="fa fa-facebook"></i>
      </a>
      <a type="button" class="btn-floating btn-tw btn-sm">
        <i class="fa fa-twitter"></i>
      </a>
      <a type="button" class="btn-floating btn-gplus btn-sm">
        <i class="fa fa-google-plus"></i>
      </a>
      <hr>
    </form>
  </div> -->

  <div class="col-lg-5 col-md-6 ml-auto mb-4">

      <section class="form-elegant">

          
          <div class="card">

              <div class="card-body mx-4">

            
                  <div class="text-center">
                      <h3 class="dark-grey-text mb-5">
                          <strong>تسجيل دخول</strong>
                      </h3>
                  </div>

                
                  <div class="md-form">
                      <i class="fa fa-user prefix grey-text"></i>
                      <input type="text" id="Form-email1" class="form-control">
                      <label for="Form-email1" style="right:0" >اسم المستخدم</label>
                  </div>

                  <div class="md-form pb-3">
                      <i class="fa fa-lock prefix grey-text"></i>
                      <input type="password" id="Form-pass1" class="form-control">
                      <label for="Form-pass1" style="right:0">كلمة السر</label>
                      <!-- <p class="font-small blue-text d-flex justify-content-end">Forgot
                          <a href="#" class="blue-text ml-1"> Password?</a>
                      </p> -->
                  </div>

                  <div class="text-center mb-3">
                      <button type="button" class="btn blue-gradient btn-block btn-rounded z-depth-1a waves-effect waves-light" (click)="myRegister()">تسجيل دخول</button>
                  </div>
                  <p class="font-small dark-grey-text text-right d-flex justify-content-center mb-3 pt-2"> او سجل عن طريق:</p>

                  <div class="row my-3 d-flex justify-content-center">
                      
                      <button type="button" class="btn btn-white btn-rounded mr-md-3 z-depth-1a waves-effect waves-light">
                          <i class="fa fa-facebook blue-text text-center"></i>
                      </button>
                      
                      <button type="button" class="btn btn-white btn-rounded mr-md-3 z-depth-1a waves-effect waves-light">
                          <i class="fa fa-twitter blue-text"></i>
                      </button>
                      
                      <button type="button" class="btn btn-white btn-rounded z-depth-1a waves-effect waves-light">
                          <i class="fa fa-google-plus blue-text"></i>
                      </button>
                  </div>

              </div>

              
              <div class="modal-footer mx-5 pt-3 mb-1 text-right" dir="rtl">
                  <p class="font-small grey-text d-flex justify-content-end">لا تملك حساب؟
                      <a href="/register" class="blue-text ml-1"> تسجيل جديد</a>
                  </p>
              </div>

          </div>
          

      </section>

  </div>