<div dir="auto">
<h3 class="uk-card-title text-right" >اضف تفاصيل طلبك</h3>
</div>
<br>

<!-- Extended default form grid -->
<form dir="auto">
    <!-- Grid row -->
    <div class="form-row">
        <!-- Default input -->
        <div class="form-group col-md-6">
            <label for="inputEmail4">Email</label>
            <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
        </div>
        <!-- Default input -->
        <div class="form-group col-md-6">
            <label for="inputPassword4">Password</label>
            <input type="password" class="form-control" id="inputPassword4" placeholder="Password">
        </div>
    </div>
    <!-- Grid row -->

    <!-- Default input -->
    <div class="form-group">
        <label for="inputAddress">Address</label>
        <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
    </div>
    <!-- Default input -->
    <div class="form-group">
        <label for="inputAddress2">Address 2</label>
        <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
    </div>
    <!-- Grid row -->
    <div class="form-row">
        <!-- Default input -->
        <div class="form-group col-md-6">
            <label for="inputCity">City</label>
            <input type="text" class="form-control" id="inputCity" placeholder="New York City">
        </div>
        <!-- Default input -->
        <div class="form-group col-md-6">
            <label for="inputZip">Zip</label>
            <input type="text" class="form-control" id="inputZip" placeholder="11206-1117">
        </div>
    </div>
    <!-- Grid row -->
    <button type="submit" class="btn btn-primary btn-md">submit</button>
</form>
<!-- Extended default form grid -->