<div class="mr-3" dir="rtl">
  <h3 class="h3 text-right" style="color:rgb(6, 75, 6)">اضف تفاصيل طلبك</h3>
</div>
<br>

<!-- Extended default form grid -->
<form class="mr-3" dir="rtl" #myForm="ngForm" (ngSubmit)="onSubmit()">
  <!-- Grid row -->
  <div class="form-row">
    <!-- Default input -->
    <div class="form-group col-sm-3 text-right ">
      <label>عنوان الحالة</label>
      <input type="text" class="form-control" placeholder="عنوان  الحالة" name="titel" [(ngModel)]="req.titel">
    </div>
  </div>
  <!-- Grid row -->
  <div class="form-row">
    <!-- Default input -->
    <div class="form-group col-sm-4 text-right">
      <label>العنوان</label>
      <input type="text" class="form-control" placeholder="المحافظة - المنطقة او الحي" name="add1" [(ngModel)]="req.add1">
    </div>
    <div class="form-group col-sm-4 text-right">
      <label>تفاصيل العنوان</label>
      <input type="text" class="form-control" placeholder="محلة - زقاق - دار" name="add2" [(ngModel)]="req.add2">
    </div>
  </div>
  <div class="form-row">
    
    <div class="form-group col-sm-4  text-right">
      <label>اقرب نقطة دالة</label>
      <input type="text" class="form-control" placeholder="اقرب نقطة دالة" name="n_add" [(ngModel)]="req.n_add" >
    </div>
    <div class="form-group col-sm-4  text-right">
      <label>   عدد المتطوعين الذي تحتاجه </label>
      <input type="text" class="form-control" placeholder=" عدد المتطوعين " name="vol_inneed" [(ngModel)]="req.vol_inneed" >
    </div>
  </div>
  
  <div class="form-row">
    
    <div class="form-group col-sm-4 text-right">
      <label>رقم الهاتف</label>
      <input type="text" class="form-control" placeholder="رقم الهاتف" name="phone" [(ngModel)]="req.phone">
    </div>
    <div class="form-group col-sm-4 text-right">
      <label>طرق تواصل اخرى</label>
      <input type="text" class="form-control" placeholder="فيسبوك مسنجر - فايبر - واتساب - تليكرام" name="contact" [(ngModel)]="req.contact" >
    </div>
  </div>

  <!-- Textarea -->
  <div class="form-group col-sm-10  text-right  ">
    <label>وصف الحالة والتفاصيل</label>
    <textarea class="form-control" rows="4" name="discription" [(ngModel)]="req.discription" ></textarea>
  </div>
  <!-- Image File input-->
  <div class="file-field" dir="rtl">
    <div class="file-path-wrapper text-right " dir="rtl">
        <label> ضع صورة للحالة </label>
    <!--  <input class="file-path validate" type="text" placeholder="ضع صورة للحالة">  -->
    
    </div>
    <a class="btn-floating btn-lg blue-gradient mt-0 float-right">
      <i class="fa fa-paperclip" aria-hidden="true"></i>
      <input type="file" (change)="upload($event)" accept=".png,.jpg" />
    </a>

  </div>

  
  
  <button type="button" class="btn btn-primary btn-md" (click)="insertReq()">اضف</button>

</form>
