<!-- <div class="uk-cover-background">
  <img  src="assets/img/background.jpg" width="" height="" alt="" />
</div> -->

<section class="view intro-2 hm-gradient">
  <div class="full-bg-img">
    <!-- <div  class="uk-height-large uk-background-cover uk-light uk-flex background" uk-parallax="bgy: -200"> -->
    <div class="col-lg-4 col-md-12 mb-4 view overlay z-depth-1-half " dir="ltr">
      <img src="assets/img/h1.jpg" class="stretch" alt="" />
      <div class="mask rgba-white-slight "></div>
    </div>
  </div>
</section>