<!-- <div class="uk-cover-background">
  <img  src="assets/img/background.jpg" width="" height="100%" alt="" />
</div> -->

<!-- <section class="view intro-2 hm-gradient"> -->
<!-- <div id="main"> -->
<!--Mask-->
<!-- <div id="intro" class="view">

    <div class="mask rgba-black-strong">

        <div class="container-fluid d-flex align-items-center justify-content-center h-100">

            <div class="row d-flex justify-content-center text-center">

                <div class="col-md-10">

                    Heading
                    <h2 class="display-4 font-weight-bold white-text pt-5 mb-2">Travel</h2>

                    Divider
                    <hr class="hr-light">

                    Description
                    <h4 class="white-text my-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti consequuntur.</h4>
                    <button type="button" class="btn btn-outline-white">Read more<i class="fa fa-book ml-2"></i></button>

                </div>

            </div>

        </div>

    </div>

</div> -->
<!--/.Mask-->


<!-- <div class="full-bg-img"> -->
<!-- <div class="bg"> -->
<!-- <img src="assets/img/background.jpg" width="" height="50%" alt="" /> -->
<!-- <div  class="uk-height-large uk-background-cover uk-light uk-flex background" uk-parallax="bgy: -200"> -->
<!-- <div class="col-lg-4 col-md-12 mb-4 view overlay z-depth-1-half " dir="ltr">
    <img src="assets/img/h1.jpg" class="stretch" alt="" /> -->
<!-- <div class="mask rgba-white-slight "></div> -->
<!-- </div> -->

<!-- </div> -->
<!-- </section> -->

<!-- <br/>
<div class="row">
<div class="col-lg-4 col-md-12 mb-4 view overlay z-depth-1-half ">
  <img src="assets/img/h1.jpg"  class="stretch" alt="" /> -->
<!-- <div class="mask rgba-white-slight "></div> -->
<!-- <div class="mask rgba-white-light"></div> -->
<!-- </div>
</div> -->

<div class="row  py-5">

  <div class=" col-12 col-sm-6 col-lg-8">
    <div class="row   justify-content-center">
      <div>
        <br><br>
        <h6>
          <strong> اجعل مدينتك أفضل</strong>
        </h6>
      </div>
    </div>
    <br><br>
    <div class="row justify-content-center ">
      <div>
        <p> Your text hereYour text hereYour text here
          Your text hereYour text here Your text here</p>
      </div>
    </div>
  </div>
  <div class="col-6 col-lg-4 view overlay zoom  view overlay rounded z-depth-2 mb-1 py-5" style="padding-left : 25px">
    <img src="assets/img/h1.jpg" class="img-fluid  " alt="" />
    <div class="mask rgba-white-slight"></div>
  </div>
</div>
<div class="row">
  <div class=" col-12 col-sm-6 col-lg-8"> 111111111111111</div>
  <div class="col-6 col-lg-4">2222222222222222222</div>

</div>
