<div class="card col-lg-5 col-md-6 ml-auto mb-4">

  <h5 class="card-header info-color white-text text-center py-4">
    <strong>تسجيل جديد</strong>
  </h5>

  <!--Card content-->
  <div class="card-body px-lg-5 pt-0" dir="rtl">

    <!-- Form -->
    <form class="text-center" style="color: #757575;" dir="rtl">

      <br>
      <div class="md-form mt-0">
        <input type="email" id="materialRegisterFormEmail" class="form-control" name="email" [(ngModel)]="email" >
        <label  style="right: 0" for="materialRegisterFormEmail" > الايميل</label>
      </div>


      <div class="md-form">
        <input type="password" id="materialRegisterFormPassword" class="form-control" aria-describedby="materialRegisterFormPasswordHelpBlock" name="password" [(ngModel)]="password" >
        <label  style="right: 0" for="materialRegisterFormPassword" >كلمة السر</label>
        <small id="materialRegisterFormPasswordHelpBlock" class="form-text text-muted mb-4">
          على الاقل ثمانية حروف او ارقام
        </small>
      </div>

  



      <button class="btn btn-outline-info btn-rounded btn-block my-4 waves-effect z-depth-0" type="submit" (click)="myRegister()">تسجيل</button>


      <p>او سجل عن طريق:</p>
 
      <a type="button" class="btn-floating btn-fb btn-sm">
        <i class="fa fa-facebook"></i>
      </a>
     <a type="button" class="btn-floating btn-tw btn-sm">
        <i class="fa fa-twitter"></i>
      </a>
     <a type="button" class="btn-floating btn-gplus btn-sm ">
         <i class="fa fa-google-plus"></i>
      </a>

       <hr>

  </form>
  <!-- Form -->
</div>

