<!--Grid row-->
<!-- <div class="row">

  
  <div class="col-md-6">

    <mdb-card class="testimonial-card" style="width : 200px">
      
      <div class="card-up indigo lighten-1">
      </div>

      
      <div class="avatar sm-auto">
        <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20%2810%29.jpg" class="rounded-circle" >
      </div>

      <mdb-card-body>
        
        <mdb-card-title>
          <h4>Anna Doe</h4>
        </mdb-card-title>
        <hr>
        
        <p>
          <i class="fa fa-quote-left"></i> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos, adipisci</p>
      </mdb-card-body>
    </mdb-card>

  </div>
  
</div> -->
<!--Grid row-->

<br>
<section class="text-right">

  <div class="author-box">

    <div class="row">

      <div class="col-12 col-sm-2">
        <img src="http://mdbootstrap.com/img/Photos/Avatars/img%20(3).jpg" class="img-fluid rounded-circle z-depth-2" style="height: 100px; width : 150px;">
      </div>

      <div class=" col-12 col-sm-10">
        <p>
          <strong>اسم المتطوع</strong>
        </p>
        <div class="personal-sm">
          <a class="fb-ic">
            <i class="fa fa-facebook"> </i>
          </a>
          <a class="tw-ic">
            <i class="fa fa-twitter"> </i>
          </a>
          <a class="gplus-ic">
            <i class="fa fa-google-plus"> </i>
          </a>
          <a class="li-ic">
            <i class="fa fa-linkedin"> </i>
          </a>
          <a class="email-ic">
            <i class="fa fa-envelope-o"> </i>
          </a>
        </div>
        <p>هنالك العديد من الأنواع المتوفرة لنصوص لوريم إيبسوم، ولكن الغالبية تم تعديلها بشكل ما عبر إدخال بعض النوادر أو الكلمات
          العشوائية إلى النص.</p>
        <p class="hidden-md-down"> هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن التركيز على الشكل الخارجي للنص أو شكل
          توضع الفقرات في الصفحة التي يقرأها. ولذلك يتم استخدام طريقة لوريم إيبسوم لأنها تعطي توزيعاَ طبيعياَ -إلى حد ما-
          للأحرف عوضاً عن استخدام "هنا يوجد محتوى نصي، هنا يوجد محتوى نصي" فتجعلها تبدو (أي الأحرف) وكأنها نص مقروء.
        </p>
      </div>
    </div>
  </div>


</section>